:root {
    --main--color : #3fff00
}
* {
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
}
.container {
    width: 1170;
    padding-left: 25px;
    padding-right: 25px;
    margin: auto;
}
/* start landing box */
.settings-box {
    position: fixed;
    left: -250px;
    top: 0;
    background-color: #000;
    width: 250px;
    z-index: 9;
    min-height: 100vh;
    transition: .5s;
    box-shadow: 1px -10px 1px 2px var(--main--color);
    opacity: .7;
    border-right: 1px solid var(--main--color);
}
.settings-box.open {left: 0;}

.settings-box .toggle-settings{
    position: absolute;
    right: -32px;
    top: 100px;
    background-color: var(--main--color);
    text-align: center;
    cursor: pointer;
    box-shadow: 1px -1px 1px 1px var(--main--color);
    font-size: 25px;
}
.settings-box .toggle-settings .fa-gear{
    padding: 4px 2px;
    width: 30px;
}
.settings-box .settings-container{
    width: 230px;
    margin:60px 0px  0px;
}
.settings-box .option-box {
    padding: 10px;
    text-align: center;
    background-color: #eee;
    margin-left: 15px;
    margin-bottom: 25px;
}
.settings-container .option-box h4 {
    margin: 0;
    color: #000;
    font-weight: bold;
    font-size: 17px;
    margin-bottom: 15px;
}
.settings-container .option-box .colors-list {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}
.settings-container .option-box .colors-list li {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 10px;
    opacity: .7;
    cursor: pointer;
}
.settings-container .option-box .colors-list li.active{ 
    opacity: 1;
    border: 1px solid #222;
}
.settings-container .option-box .colors-list li:first-child{
    background-color: #3fff00;
}
.settings-container .option-box .colors-list li:nth-child(2){
    background-color: #e91e63;
}
.settings-container .option-box .colors-list li:nth-child(3){
    background-color: #009688;
}
.settings-container .option-box .colors-list li:nth-child(4){
    background-color: #03a9f4;
}
.settings-container .option-box .colors-list li:nth-child(5){
    background-color: #ff9800;
}
.settings-box .random-backgrounds span.active{ opacity: 1; background-color: var(--main--color);}
.settings-box .random-backgrounds .yes,
.settings-box .random-backgrounds .no { 
    width: 50px;
    background-color: #000;
    color: #fff;
    display: inline-block;
    font-size: 13px;
    padding: 4px 10px;
    font-weight: bold;
    border-radius: 4px;
    opacity: .5;
    margin-left: 5px;
    cursor: pointer;
}
/* end landing box */

/* start landing page */
.landing-page {
    min-height: 100vh; /* vh = viewport height */
    background-image: url('../img/2.jpg');
    background-size: cover; /* cover = plein ecran */
    position: relative;
}
.landing-page .overlay {
    background-color: rgba(0,0,0,0.47);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
}
.landing-page .heading-area{
    position: relative;
    z-index: 2;
    color: #fff;
    display: flex;
    padding: 10px;
}
.heading-area .logo {
    width: 300px;
    padding: 15px;
    font-weight: bold;
}
.heading-area .links {
    list-style: none;
    text-align: right;
    width: 100%;
    padding-left: 0;
    padding-right: 20px;
    cursor: pointer;
}
.heading-area .links li{
    display: inline-block;
    margin-left: 10px;
}
.landing-page .introduction-text{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: #fff;
    text-align: center;
}
.introduction-text h1 {
    font-size: 42px;
    margin: 0 0 15px;
}
.heading-area .links li span {
    color: var(--main--color);
}
.introduction-text h1 span {
    color: var(--main--color);
}
.introduction-text p {
    line-height: 1.6;
    font-size: 22px;
}

/* end landing page */


/* start about-us */
.about-us {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
}
.about-us .info-box {
    flex: 1;
    padding: 30px;
}
.about-us .info-box h2 {
    font-weight: bold;
    font-size: 30px;
    color: var(--main--color);
    margin: 0 0 20px;
    
}
.about-us .info-box p {
    line-height: 2;
    color: #767676;
    margin : 0;
}
.about-us .image-box {
    flex: 1;
    text-align: center;
}
.about-us .image-box img{
    width: 250px;
    background-color: var(--main--color);
    opacity: .6;
    border-radius: 50%;
    box-shadow: 20px 15px 55px 20px var(--main--color);

}
/* end about-us */


/* start skills */
.skills {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #eee;
}
.skills h2 {
    font-weight: bold;
    font-size: 30px;
    color: var(--main--color);
    margin: 0 0 50px;
    text-align: center;
}
.skills .skill-box {
    background-color: #fff;
    display: flex;
    padding: 15px;
    margin-bottom: 15px;
}
.skills .skill-box .skill-name {
    font-weight: bold;
    width: 100px;
    text-align: center;
    line-height: 30px;
}
.skills .skill-box .skill-progress {
    height: 30px;
    width: 100%;
    background: #f6f6f6;
    border-radius: 6px;
    position: relative;
    overflow: hidden;
}
.skills .skill-box .skill-progress span {
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    background-color: var(--main--color);
    transition: all .5s ease-in-out;
    
}


/* end skills */